*{
    margin: 0px;
    padding: 0px;    
}

body{
    height: 100vh;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.bg{
    
    background: linear-gradient(to right, red, blue );
    height: 100%;
    overflow: hidden;
    
}

.button{
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background: rgb(85, 85, 85);
    border: none;
    color: white;
}

#input{
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
    width: 453px;
    margin: 5px;    
    padding: 5px;
    border: solid 7px rgb(65, 65, 65) ;
}

#bt0{
    width: 200px;
}

#btEquals{
    height: 200px;
}